!!!
%html{lang: "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h2
      Hi #{@user.username}!
    %p
      Welcome to SLAMAZON!, the ultimate shopping/shipping experience!
    %p
      Buy some pets, you filthy animal!
    %p
      Love, The Slamazon! Team
