<div class="reg-form">
    <div class="container">
        <div class="reg">
            <h3>New Order</h3>

            <%= render 'form' %>

            <!-- <%= link_to 'Back', orders_path %> -->
            <%= button_to "Empty Cart", @cart, method: :delete, class: "simpleCart_empty" %>
        </div>
    </div>
</div>
