<div>
    <ul>
        <% @cart.line_items.each do |item| %>
            <li>
                Description<%= item.product.description %>
                Quantity<%= item.quantity %>
            </li>
        <% end %>
    </ul>
</div>
