/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

img {
  width: 150px;
  height: 150px;
}

.col-md-4 {
  margin-bottom: 25px;
  border: 1px solid black;
}

.item-background {

}
