%label{for: "name"} Name:
%input{name: "product[name]", type: "text", value: ""}/
%label{for: "price"} Price:
%input{name: "product[price]", type: "number", value: ""}/
%label{for: "description"} Description:
%input{name: "product[description]", type: "text", value: ""}/
%label{for: "image"} Image(url):
%input{name: "product[image]", type: "text", value: ""}/
