// $(".total").html('<%=j render @cart %>');
//
// console.log("<%=j render @cart %>");

<ol class="flex-control-nav flex-control-thumbs"><li><img src="asset_url('show.jpg'," class="flex-active" draggable="false"></li><li><img src="" draggable="false" class=""></li><li><img src="images/show.jpg" draggable="false" class=""></li><li><img src="asset_path(" logo.png","="" draggable="false" class=""></li></ol>
