.header-botom
  .content.white
    %nav.navbar.navbar-default.nav-menu{:role => "navigation"}
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .clearfix
      / /.navbar-header
      #bs-example-navbar-collapse-1.collapse.navbar-collapse.collapse-pdng
        %ul.nav.navbar-nav.nav-font
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Shop
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "products.html"} Shoes
              %li
                %a{:href => "products.html"} Tees
              %li
                %a{:href => "products.html"} Tops
              %li.divider
              %li
                %a{:href => "products.html"} Tracks
              %li.divider
              %li
                %a{:href => "products.html"} Gear
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Men
              %b.caret
            %ul.dropdown-menu.multi-column.columns-3
              .row
                .col-sm-4.menu-img-pad
                  %ul.multi-column-dropdown
                    %li
                      %a{:href => "products.html"} Joggers
                    %li
                      %a{:href => "products.html"} Foot Ball
                    %li
                      %a{:href => "products.html"} Cricket
                    %li.divider
                    %li
                      %a{:href => "products.html"} Tennis
                    %li.divider
                    %li
                      %a{:href => "products.html"} Casual
                .col-sm-4.menu-img-pad
                  %a{:href => "#"}
                    %img.img-rsponsive.men-img-wid{:alt => "/", :src => "images/menu1.jpg"}/
                .col-sm-4.menu-img-pad
                  %a{:href => "#"}
                    %img.img-rsponsive.men-img-wid{:alt => "/", :src => "images/menu2.jpg"}/
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Women
              %b.caret
            %ul.dropdown-menu.multi-column.columns-2
              .row
                .col-sm-6
                  %ul.multi-column-dropdown
                    %li
                      %a{:href => "products.html"} Tops
                    %li
                      %a{:href => "products.html"} Bottoms
                    %li
                      %a{:href => "products.html"} Yoga Pants
                    %li.divider
                    %li
                      %a{:href => "products.html"} Sports
                    %li.divider
                    %li
                      %a{:href => "products.html"} Gym
                .col-sm-6
                  %a{:href => "#"}
                    %img.img-rsponsive.men-img-wid{:alt => "/", :src => "images/menu3.jpg"}/
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              kids
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "products.html"} Tees
              %li
                %a{:href => "products.html"} Shorts
              %li
                %a{:href => "products.html"} Gear
              %li.divider
              %li
                %a{:href => "products.html"} Watches
              %li.divider
              %li
                %a{:href => "products.html"} Shoes
          %li
            %a{:href => "contact.html"} Catch
          .clearfix
        .clearfix
      / /.navbar-collapse
      .clearfix
    / /.navbar
    .clearfix
  / /.content-
