!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
      %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
        %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
          %meta{content: "", name: "description"}
            %meta{content: "", name: "author"}
              %link{href: "../../favicon.ico", rel: "icon"}
              %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel: "stylesheet"}
                %title SLAMAZON!
                = stylesheet_link_tag 'application', media: 'all'
                = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: "/"} HAMZON

        .navbar-collapse
    / Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
        %h1  HAMAZON
    .container
      .row
        = yield
      %hr
        %footer
          %p &copy; 2016 HAMAZON, Inc.
    / Placed at the end of the document so the pages load faster
    -# %script{src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    -# :javascript
    -#   window.jQuery || document.write('<\/script>')
