!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
      %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
        %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
          %meta{content: "", name: "description"}
            %meta{content: "", name: "author"}
              %link{href: "../../favicon.ico", rel: "icon"}
              %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel: "stylesheet"}
                %title SLAMAZON!
                = stylesheet_link_tag 'application', media: 'all'
                = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: "/"} SLAMAZON
        #navbar.navbar-collapse.collapse
          - if current_user
            =form_tag('/sessions/#{current_user.id}', method: "DELETE", class: "navbar-form navbar-right") do
              .form-group
                =submit_tag "Logout", class: "btn btn-warning"
          - else
            =form_tag('/sessions', method: "POST", class: "navbar-form navbar-right") do
              .form-group
                =text_field_tag "Email", "Email",  class: "form-control"
              .form-group
                =password_field_tag "Password", "Password", class: "form-control"
              .form-group
                =submit_tag "Login", class: "btn btn-warning"
        .navbar-collapse
    / Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
        %h1
          %a{href: "/"} SLAMAZON!
    .container
      .row
        = yield
      %hr
        %footer
          %p &copy; 2016 SLAMAZON!, Inc.
    / Placed at the end of the document so the pages load faster
    -# %script{src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    -# :javascript
    -#   window.jQuery || document.write('<\/script>')
